{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Botmaker API",
    "description" : "The Botmaker API enables you to:\n- start a WhatsApp conversation by sending a template message\n- trigger intents and send messages to open conversations\n- download messages from chats\n- download chats state (tags and variables)\n- manage agents and roles\n- manage WhatsApp account and templates\n- inspect WhatsApp conversations to know which were billed\n- start calls\n- and much more!\n#### Try it!\nYou can test the endpoints by entering your `access-token` in the text box to the right.<br>\nOr you can download the [Postman Collection](https://storage.googleapis.com/botmaker/api/botmaker_api_v2.postman_collection). You only need to configure the [collection vars](https://learning.postman.com/docs/sending-requests/variables/#defining-collection-variables) `token`, `channelId` and `contactId` with your own values.",
    "contact" : {
      "email" : "support@botmaker.io"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "2.0"
  },
  "externalDocs" : {
    "description" : "A Postman Collection. You need to setup the [collection vars](https://learning.postman.com/docs/sending-requests/variables/#defining-collection-variables) `token`, `channelId` and `contactId`.",
    "url" : "https://storage.googleapis.com/botmaker/api/botmaker_api_v2.postman_collection"
  },
  "servers" : [ {
    "url" : "https://api.botmaker.com/v2.0"
  } ],
  "security" : [ {
    "access-token" : [ ]
  } ],
  "tags" : [ {
    "name" : "chats",
    "description" : "Know and modify chats state (variables and tags)"
  }, {
    "name" : "chats actions",
    "description" : "Send templates, messages, trigger intents.<br> You can also assign to agent, mute bot, and more"
  }, {
    "name" : "messages",
    "description" : "Download messages history."
  }, {
    "name" : "channels",
    "description" : "Get chat channels ids (other endpoints need this data)"
  }, {
    "name" : "agents",
    "description" : "Add or remove agents to attend chats.< br/>Logout absent agents"
  }, {
    "name" : "roles",
    "description" : "Create, edit and delete agent roles"
  }, {
    "name" : "calls",
    "description" : "List and start calls"
  }, {
    "name" : "billing",
    "description" : "Inspect consumptions"
  }, {
    "name" : "whatsapp accounts",
    "description" : "Start account creation process. Know line status and quality"
  }, {
    "name" : "whatsapp templates",
    "description" : "Create, list and delete templates."
  }, {
    "name" : "whatsapp products",
    "description" : "Send products via whatsapp."
  }, {
    "name" : "ecommerce/catalogs",
    "description" : "Build a catalog of your products and offer them via WhatsApp and Google Business Messages."
  }, {
    "name" : "ecommerce/categories",
    "description" : "Upload your categories and organize them."
  }, {
    "name" : "ecommerce/products",
    "description" : "Upload your products and organize them with categories."
  }, {
    "name" : "ecommerce/stores",
    "description" : "Upload your inventory and organize them with stores."
  }, {
    "name" : "ecommerce/zones",
    "description" : "Upload your zones and organize them."
  }, {
    "name" : "ecommerce/price-schemas",
    "description" : "Upload your price schemas and organize them."
  }, {
    "name" : "intents",
    "description" : "List, create or update intents"
  }, {
    "name" : "audits",
    "description" : "Find when and who changed an entity of your project."
  }, {
    "name" : "webhooks",
    "description" : "Manage your webhooks. Redirect webhooks for certain users"
  }, {
    "name" : "bot config",
    "description" : "Configure bot variables and constants"
  } ],
  "paths" : {
    "/agents" : {
      "get" : {
        "tags" : [ "agents" ],
        "summary" : "List agents",
        "description" : "List all agents with access to the bot.",
        "operationId" : "list-agents",
        "parameters" : [ {
          "name" : "online",
          "in" : "query",
          "description" : "Filter online agents with `true`. Use `false` to filter the offline users.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "emails",
          "in" : "query",
          "description" : "Fetch agents by email. A list of emails can be used, separated by comma or repeating the `emails` query param.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of bot agents.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgentsPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 10 requests per minute allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "agents" ],
        "summary" : "Create agent",
        "description" : "Creates an agent.",
        "operationId" : "create-agent",
        "requestBody" : {
          "description" : "The agent to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The id of the created agent.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgentIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid agent body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Missing permissions to create agent."
          },
          "429" : {
            "description" : "Only 10 requests per second allowed."
          }
        }
      }
    },
    "/agents/{id}/actions/logout" : {
      "post" : {
        "tags" : [ "agents" ],
        "summary" : "Logout agent",
        "description" : "Logs out an agent from Botmaker.",
        "operationId" : "logout-agent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The agent id on botmaker. You can get it from `/agents?emails=agent.name@exampleorg.com`.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : { }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Agent was logged out."
          },
          "404" : {
            "description" : "Agent not found."
          },
          "429" : {
            "description" : "Only 10 requests per second allowed."
          }
        }
      }
    },
    "/agents/{id}" : {
      "delete" : {
        "tags" : [ "agents" ],
        "summary" : "Remove agent from bot",
        "description" : "Disallows the agent to access to bot.",
        "operationId" : "remove-agent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The agent id on botmaker. You can get it from `/agents?emails=agent.name@exampleorg.com`.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of the remaining bots the agent can access.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdListReqRes"
                }
              }
            }
          },
          "403" : {
            "description" : "Can't modify agent with provided access-token.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Agent not found."
          },
          "429" : {
            "description" : "Only 10 requests per second allowed."
          }
        }
      },
      "patch" : {
        "tags" : [ "agents" ],
        "summary" : "Update agent",
        "operationId" : "update-agent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The agent id on botmaker. You can get it from `/agents?emails=agent.name@exampleorg.com`.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The agent to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Agent correctly updated."
          },
          "400" : {
            "description" : "Invalid agent body.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Missing permissions to modify password (if no password change was intented, don't send password field)."
          },
          "404" : {
            "description" : "Agent not found."
          },
          "429" : {
            "description" : "Only 10 requests per second allowed."
          }
        }
      }
    },
    "/audits/{auditSection}" : {
      "get" : {
        "tags" : [ "audits" ],
        "summary" : "List change history",
        "description" : "Search and see changes of your project.<br>**This endpoint will increase your BI data sources costs, so use it with care (save the response to avoid retrieving the same period every time).**",
        "operationId" : "list-section-changes",
        "parameters" : [ {
          "name" : "auditSection",
          "in" : "path",
          "description" : "The audit section to inspect.",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/AuditSectionPretty"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Min change datetime. Defaults to start of month.",
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2022-01-01T00:00:00Z"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Max change datetime. Defaults to `now()`.",
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "example" : "2022-01-05T00:00:00Z"
          }
        }, {
          "name" : "authors",
          "in" : "query",
          "description" : "The ids or emails of the agents that changed the entity, separated by commas.",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Email" : {
              "description" : "Email",
              "value" : "agent_a@exampleorg.com,agent_b@exampleorg.com,agent_x@exampleorg.com"
            },
            "Ids" : {
              "description" : "Ids",
              "value" : "d3Sgpkg8R1zDxfJYYxpAWLxL1hv7,27mLxWSTEHbEtehb9fgzO5S4Y55V,IyA8r9cO1IKjWbkx3V4BaHU1Inhp"
            }
          }
        }, {
          "name" : "authors-roles",
          "in" : "query",
          "description" : "The role ids of the agents that made the change, separated by commas. It can be a predefined role or a custom role id or name.",
          "schema" : {
            "type" : "string",
            "enum" : [ "ADMIN", "CONFIGURATOR", "SUPERVISOR", "OPERATOR" ]
          },
          "examples" : {
            "Default" : {
              "description" : "Default",
              "value" : "OPERATOR,CONFIGURATOR"
            },
            "Custom" : {
              "description" : "Custom",
              "value" : "CUSTOM123ROL456ID,ANOTHER123CUSTOM123ROL"
            }
          }
        }, {
          "name" : "actions",
          "in" : "query",
          "description" : "The type of change you are searching for. By default, every type of change is searched.",
          "schema" : {
            "type" : "string",
            "enum" : [ "CREATE", "UPDATE", "DELETE" ]
          },
          "examples" : {
            "Change" : {
              "description" : "Change",
              "value" : "UPDATE,DELETE"
            },
            "Delete" : {
              "description" : "Delete",
              "value" : "DELETE"
            }
          }
        }, {
          "name" : "search-keyword",
          "in" : "query",
          "description" : "Keyword to search in audit. For example, the id of an intent, agent, queue, etc. that has changed.",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Intent" : {
              "description" : "Intent",
              "value" : "Some Intent Name"
            },
            "Queue" : {
              "description" : "Queue",
              "value" : "QueueId"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The changes to the section.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuditsPage"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing or invalid query params.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Missing permissions to get audit."
          },
          "429" : {
            "description" : "Only one request per minute allowed."
          }
        }
      }
    },
    "/billing/consumptions" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "List consumptions",
        "description" : "List consumptions for a specific month",
        "operationId" : "get-consumptions",
        "parameters" : [ {
          "name" : "billing-period",
          "in" : "query",
          "description" : "Month for which consumptions will be retrieved",
          "schema" : {
            "type" : "string",
            "format" : "yyyy-MM"
          },
          "examples" : {
            "Year-Month" : {
              "description" : "Year-Month",
              "value" : "2024-01"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of consumptions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumptionsResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per month allowed."
          }
        }
      }
    },
    "/billing/whatsapp/billed-conversations" : {
      "get" : {
        "tags" : [ "billing" ],
        "summary" : "List WhatsApp billed conversations",
        "description" : "List WhatsApp conversations with their billing info monthly",
        "operationId" : "get-billing-whatsapp-conversations-details",
        "parameters" : [ {
          "name" : "billingPeriod",
          "in" : "query",
          "description" : "Billed period",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "examples" : {
            "Year-Month" : {
              "description" : "Year-Month",
              "value" : "2023-12"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of conversationsEach response carries 2500 conversations max. You should keep fetching the next page of conversations while `nextPage` is not null.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WhatsAppDetailedConversationsPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/calls" : {
      "get" : {
        "tags" : [ "calls" ],
        "summary" : "List calls",
        "description" : "List calls by date. (To start a call, use /chats-actions/start-call)\nYou can inspect:\n- all the calls in a given period (using `from` and `to`)\n- the calls for a particular chat (using `chat-id` or `channel-id` together with `contact-id`)",
        "operationId" : "list-calls",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Min call datetime. It not sent, it will default to one day before `to`. (Not required when searching a chat calls)",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-01-01T00:00:00Z"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Max call datetime. The default is `now()`. (Not required when searching a chat calls)",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2022-01-05T12:30:42Z"
        }, {
          "name" : "channel-id",
          "in" : "query",
          "description" : "Required to fetch a chat's calls by contact id. You must also provide `contact-id` param.",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Channel id" : {
              "description" : "Channel id",
              "value" : "botproject-whatsapp-5491147038***"
            },
            "WhatsApp Line" : {
              "description" : "WhatsApp Line",
              "value" : "5491147038***"
            },
            "Recipient id" : {
              "description" : "Recipient id",
              "value" : "5125186904100***"
            }
          }
        }, {
          "name" : "contact-id",
          "in" : "query",
          "description" : "The chat id in the chat platform. You must also provide `channel-id` param.",
          "schema" : {
            "type" : "string"
          },
          "example" : "5491147038***"
        }, {
          "name" : "chat-id",
          "in" : "query",
          "description" : "The id of the chat in Botmaker. (If you use this parameter, `channel-id` and `contact-id` won't be used).",
          "schema" : {
            "type" : "string"
          },
          "example" : "ABC123DEF456GHI789JK"
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of calls, sorted by creation time. Each response carries 250 calls max; if there are more calls, the next page *url* will be returned in `nextPage`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CallsPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/platform-integrations" : {
      "post" : {
        "tags" : [ "ecommerce/catalogs" ],
        "summary" : "Connect to external catalog platform",
        "description" : "Connects the Botmaker catalog (`catalogId`) to a chat platform catalog (WhatsApp, Google Business Messages).\n You can provide an external Catalog Id that represents an existing catalog in the external platform.",
        "operationId" : "catalog-platform-connect",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CatalogPlatformConnectRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Catalog successfully connected to platform.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CatalogPlatformIntegration"
                }
              }
            }
          },
          "400" : {
            "description" : "Platform catalog already connected.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per minute allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs" : {
      "get" : {
        "tags" : [ "ecommerce/catalogs" ],
        "summary" : "List catalogs",
        "description" : "List all catalogs.",
        "operationId" : "list-catalogs",
        "responses" : {
          "200" : {
            "description" : "A page of 250 catalogs. You should keep calling the `nextPageURL` until it comes `null`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CatalogPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/catalogs" ],
        "summary" : "Create catalog",
        "description" : "Create a catalog.",
        "operationId" : "create-catalog",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CatalogRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The id of the new catalog.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Request is missing `title` or catalog already existed with that `title`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per minute allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/products" : {
      "get" : {
        "tags" : [ "ecommerce/products" ],
        "summary" : "List/Search catalog products",
        "description" : "List or search catalog products.",
        "operationId" : "list-search-catalog-products",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryCode",
          "in" : "query",
          "description" : "Filter products by category.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The catalog products.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductsPage"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/products" ],
        "summary" : "Create/Update products",
        "description" : "Create or Update a catalog products.",
        "operationId" : "create-catalog-products",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductsRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The products were successfully created or updated. Note that after you created/updated all the products you needed, you need to `POST /ecommerce/catalogs/{catalogId}/platform-integrations/{platformOrPlatformCatalogId}/sync` to publish the products to the platform the catalog is linked to."
          },
          "400" : {
            "description" : "Missing or invalid product field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/stores" : {
      "get" : {
        "tags" : [ "ecommerce/stores" ],
        "summary" : "List stores",
        "description" : "List all stores.",
        "operationId" : "list-stores",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The catalog stores.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StoresRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/stores" ],
        "summary" : "Create/Update stores inventory",
        "description" : "Create or Update a stores inventory.",
        "operationId" : "create-stores-inventory",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StoresRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The inventory stores were successfully created or updated. "
          },
          "400" : {
            "description" : "Missing or invalid inventory field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/categories" : {
      "get" : {
        "tags" : [ "ecommerce/categories" ],
        "summary" : "List categories",
        "description" : "List categories of a catalog.",
        "operationId" : "list-catalog-categories",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The catalog categories.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryRequest"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/categories" ],
        "summary" : "Create/Update categories",
        "description" : "Create or Update catalog categories.",
        "operationId" : "create-catalog-categories",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CategoryRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Categories successfully created or updated."
          },
          "400" : {
            "description" : "Category is missing code or title.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/zones" : {
      "get" : {
        "tags" : [ "ecommerce/zones" ],
        "summary" : "List zones",
        "description" : "Gets the zones associated with `catalogId` catalog.",
        "operationId" : "list-zones",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "id of the catalog.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of zones.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZonePage"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/zones" ],
        "summary" : "Create/Update zones",
        "description" : "Creates new zones or updates them. A zone is a geographic area with price overrides for product prices that includes a group of stores.",
        "operationId" : "create-update-zones",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ZoneRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Zones created."
          },
          "400" : {
            "description" : "Invalid zones request."
          },
          "404" : {
            "description" : "Catalog not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/categories/{categoryCode}" : {
      "delete" : {
        "tags" : [ "ecommerce/categories" ],
        "summary" : "Delete category",
        "description" : "Delete a category by code.",
        "operationId" : "delete-catalog-category",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Category successfully deleted."
          },
          "404" : {
            "description" : "Category not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 10 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/products/{sku}" : {
      "get" : {
        "tags" : [ "ecommerce/products" ],
        "summary" : "Get product by sku",
        "description" : "Get product data by SKU.",
        "operationId" : "get-product",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sku",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The product.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductReqRes"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog or product not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "delete" : {
        "tags" : [ "ecommerce/products" ],
        "summary" : "Delete product by sku",
        "description" : "Delete a product by its SKU.",
        "operationId" : "delete-catalog-product",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sku",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Product successfully deleted."
          },
          "404" : {
            "description" : "Product not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 30 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/products/batch/delete" : {
      "post" : {
        "tags" : [ "ecommerce/products" ],
        "summary" : "Delete products",
        "description" : "Delete products of specific catalog by list of skus, max size to delete is 50. Get Catalog ID from /ecommerce/catalogs.",
        "operationId" : "delete-catalog-products",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SkuListReqRes"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Product successfully deleted."
          },
          "404" : {
            "description" : "Product not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 30 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/stores/{code}" : {
      "delete" : {
        "tags" : [ "ecommerce/stores" ],
        "summary" : "Delete catalog store",
        "description" : "Delete store by store code.",
        "operationId" : "delete-catalog-store",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "code",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Store successfully deleted."
          },
          "404" : {
            "description" : "Store not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 30 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/stores/batch/delete" : {
      "post" : {
        "tags" : [ "ecommerce/stores" ],
        "summary" : "Delete catalog stores",
        "description" : "Delete stores by list of stores codes.",
        "operationId" : "delete-catalog-stores",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdListReqRes"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Product successfully deleted."
          },
          "404" : {
            "description" : "Product not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 30 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/platform-integrations/{platformOrPlatformCatalogId}" : {
      "delete" : {
        "tags" : [ "ecommerce/catalogs" ],
        "summary" : "Disconnect from external catalog platform",
        "description" : "Disconnects the Botmaker catalog (`catalogId`) from a chat platform catalog.",
        "operationId" : "catalog-platform-disconnect",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "platformOrPlatformCatalogId",
          "in" : "path",
          "description" : "The catalog platform you want to sync with or the catalog id in that platform. You can get these at [/ecommerce/catalogs/{catalogId}](https://api.botmaker.com/v2/#/get-catalog).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "platform" : {
              "description" : "platform",
              "value" : "meta"
            },
            "catalogId" : {
              "description" : "catalogId",
              "value" : 423260175108813
            },
            "platform:catalogId" : {
              "description" : "platform:catalogId",
              "value" : "meta:423260175108813"
            }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Catalog disconnected from platform."
          },
          "404" : {
            "description" : "Catalog or integration not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per minute allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/zones/{zoneCode}" : {
      "get" : {
        "tags" : [ "ecommerce/zones" ],
        "summary" : "Get zone by code",
        "description" : "Gets a list of zone by code. A zone is a geographic area with price overrides for product prices that includes a group of stores.",
        "operationId" : "get-zone",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zoneCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The zone.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZonesReqRes"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog or Zone not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "delete" : {
        "tags" : [ "ecommerce/zones" ],
        "summary" : "Delete zone by code",
        "description" : "Delete zone by code. A zone is a geographic area with price overrides for product prices that includes a group of stores.",
        "operationId" : "delete-zone",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zoneCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Zone deleted."
          },
          "404" : {
            "description" : "Catalog not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/price-schemas" : {
      "get" : {
        "tags" : [ "ecommerce/price-schemas" ],
        "summary" : "List Price Schemas from Catalog",
        "description" : "This endpoint returns a list of the price-schemas available for the specified catalog.The price schemas are an overwriting of the current prices of the products by zone.",
        "operationId" : "list-price-schemas",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The price schemas.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PriceSchemasResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Price schemas not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "ecommerce/price-schemas" ],
        "summary" : "Create or Update new price schema",
        "description" : "Create new price schema or Update an existing price schema. The price schemas are an overwriting of the current prices of the products by zone.",
        "operationId" : "create-price-schemas",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : { }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The products schemas were successfully created or updated. "
          },
          "400" : {
            "description" : "Missing or invalid Price schemas.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Price schemas not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "created/updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Pricing"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/price-schemas/{zoneCode}" : {
      "get" : {
        "tags" : [ "ecommerce/price-schemas" ],
        "summary" : "List Price Schemas by zone",
        "description" : "This endpoint returns a list of the price-schemas available for the specified catalog and zone code.  The price schemas are an overwriting of the current prices of the products by zone",
        "operationId" : "list-price-schemas-by-zone",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zoneCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The price schemas.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PriceSchemasResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Price schemas not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/platform-integrations/{platformOrPlatformCatalogId}/sync" : {
      "post" : {
        "tags" : [ "ecommerce/catalogs" ],
        "summary" : "Sync catalog with external catalog platform",
        "description" : "Syncs a Catalog with an outgoing External Catalog. This will push all products to an external catalog such as Facebook Catalog in order to feed special ChatChannels like WhatsApp or Google Business Messages. Update is done async, it may take up to 5 minutes to reflect change.",
        "operationId" : "catalog-platform-sync",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "description" : "The botmaker catalog id. You can get it at [/ecommerce/catalogs](https://api.botmaker.com/v2/#/list-catalogs)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "platformOrPlatformCatalogId",
          "in" : "path",
          "description" : "The catalog platform you want to sync with or the catalog id in that platform. You can get these at [/ecommerce/catalogs/{catalogId}](https://api.botmaker.com/v2/#/get-catalog).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "platform" : {
              "description" : "platform",
              "value" : "meta"
            },
            "catalogId" : {
              "description" : "catalogId",
              "value" : 423260175108813
            },
            "platform:catalogId" : {
              "description" : "platform:catalogId",
              "value" : "meta:423260175108813"
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : { }
          }
        },
        "responses" : {
          "202" : {
            "description" : "A webhook id and url to track the outcome of the sync process.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdWithResultResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Catalog or platform integration not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per minute allowed."
          }
        }
      }
    },
    "/ecommerce/catalogs/{catalogId}/zones/batch/delete" : {
      "post" : {
        "tags" : [ "ecommerce/zones" ],
        "summary" : "Delete zones",
        "description" : "Delete list of zones (including the price schema if it has an empty array of attachedZoneCodes) based on the requested list of codes and matching them with the specific catalog. A zone is a geographic area with price overrides for product prices that includes a group of stores.",
        "operationId" : "batch-delete-zones",
        "parameters" : [ {
          "name" : "catalogId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The list of zone codes to delete.",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ZonesBatchReqRes"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Zones deleted."
          },
          "404" : {
            "description" : "Catalog not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/channels" : {
      "get" : {
        "tags" : [ "channels" ],
        "summary" : "List channels",
        "operationId" : "list-channels",
        "parameters" : [ {
          "name" : "platform",
          "in" : "query",
          "description" : "Fetch channels from `platform` only.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Filter only active channels.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The channels of the bot project.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChannelsListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid platform.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/channels/{id}" : {
      "patch" : {
        "tags" : [ "channels" ],
        "summary" : "Update channel",
        "description" : "Toggle channel's active state. You can also change its name.",
        "operationId" : "updateChannel",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The channel id.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The modifications to apply to the channel.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChannelPatch"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The channel was updated correctly."
          },
          "404" : {
            "description" : "Channel not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IChannelResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/chats/{chatReference}" : {
      "get" : {
        "tags" : [ "chats" ],
        "summary" : "Get chat",
        "description" : "Gets the state of a chat.<br>*Note: this endpoint searches chats whose last activity occurred less than 2 months ago. (To search older chats, use [search chats endpoint](list-search-chats)).*",
        "operationId" : "get-chat",
        "parameters" : [ {
          "name" : "chatReference",
          "in" : "path",
          "description" : "One of:\n- The `chatId` (You get the `chatId` from other endpoints of the api or from the url of a chat in Botmaker, e. g. go.botmaker.com/#/chat/{chatId})\n- Concatenation of `channelId` + `:` + `contactId`. `channelId` can be one of those you get at [GET /channels](https://api.botmaker.com/v2.0/#/operations/getChannels) endpoint, a WhatsApp phone line, the recipient id (in Messenger, Workplace) or a Telegram token. In WhatsApp the `contactId` is the phone number.\n- An external id (some bots load users from an organization's internal database, and each of these users has an id in that organization; this id is the externalId)",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "chatId" : {
              "description" : "chatId",
              "value" : "BBXP3U1BXSTSNDTN8PIN"
            },
            "channel" : {
              "description" : "channel",
              "value" : "botproject-whatsapp-12185208***:5491147038***"
            },
            "phone" : {
              "description" : "phone",
              "value" : "12185208***:5491147038***"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The chat state.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatWithMessagesResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Chat not found."
          },
          "429" : {
            "description" : "Only 3 requests per second allowed."
          }
        }
      },
      "patch" : {
        "tags" : [ "chats" ],
        "summary" : "Update chat",
        "description" : "Change chat variables, tags, name, email or country.",
        "operationId" : "update-chat",
        "parameters" : [ {
          "name" : "chatReference",
          "in" : "path",
          "description" : "One of:\n- The `chatId` (You get the `chatId` from other endpoints of the api or from the url of a chat in Botmaker, e. g. go.botmaker.com/#/chat/{chatId})\n- Concatenation of `channelId` + `:` + `contactId`. `channelId` can be one of those you get at [GET /channels](https://api.botmaker.com/v2.0/#/operations/getChannels) endpoint, a WhatsApp phone line, the recipient id (in Messenger, Workplace) or a Telegram token. In WhatsApp the `contactId` is the phone number.\n- An external id (some bots load users from an organization's internal database, and each of these users has an id in that organization; this id is the externalId)",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "chatId" : {
              "description" : "chatId",
              "value" : "BBXP3U1BXSTSNDTN8PIN"
            },
            "channel" : {
              "description" : "channel",
              "value" : "botproject-whatsapp-12185208***:5491147038***"
            },
            "phone" : {
              "description" : "phone",
              "value" : "12185208***:5491147038***"
            }
          }
        } ],
        "requestBody" : {
          "description" : "The changes to apply to the chat. Send only the fields you want to change, the rest can be omitted.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChatUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Chat successfully updated."
          },
          "400" : {
            "description" : "Chat body problems.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Chat not found."
          },
          "429" : {
            "description" : "Only 3 requests per second allowed."
          }
        }
      }
    },
    "/chats" : {
      "get" : {
        "tags" : [ "chats" ],
        "summary" : "List and Search chats",
        "description" : "With this endpoint you can:\n- **list all the chats** states, ordered by the chat last activity time.\n- **Search for a specific chat** state. You can search by `contact-id`, user's `name` and by `email`.\nEach request returns a max of 250 chats elements and a `nextPage` url to get the next chats. You should keep calling this endpoint until `nextPage` returns null.",
        "operationId" : "list-search-chats",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Filter chats with last activity greater than `from`. If not passed, it default to one day before `to`.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-01-01T00:00:00Z"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Filter chats with last activity minor than `to`. If not passed, it default to `now()`.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2022-01-05T12:30:42Z"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Search chat by user first and last name (separated by ' ' or '-').",
          "schema" : {
            "type" : "string"
          },
          "example" : "Dante Fulanito"
        }, {
          "name" : "emails",
          "in" : "query",
          "description" : "Search chat by user's email. A comma separated list of emails is allowed.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channel-id",
          "in" : "query",
          "description" : "Filter chats from a particular channel. Also, this param is required if you're searching by `contact-id`.",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Channel id" : {
              "description" : "Channel id",
              "value" : "botproject-whatsapp-5491147038***"
            },
            "WhatsApp Line" : {
              "description" : "WhatsApp Line",
              "value" : "5491147038***"
            },
            "Recipient id" : {
              "description" : "Recipient id",
              "value" : "5125186904100***"
            }
          }
        }, {
          "name" : "contact-id",
          "in" : "query",
          "description" : "Search chat by user's contact (in WhatsApp, the user's phone number). You must also provide `channel-id` query param.",
          "schema" : {
            "type" : "string"
          },
          "example" : "5491147038..."
        }, {
          "name" : "long-term-search",
          "in" : "query",
          "description" : "**This endpoint adds up bytes to your BI data sources consumptions. You must explicitly state you are aware of this by sending this param in `true`.**",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "only-users-never-talked",
          "in" : "query",
          "description" : "Only search chats with that never initiated a conversation (no session)",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of chats.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatsPage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid channel id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 3 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/generate-response" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Generate message response",
        "description" : "Send a message to a channel and get the responses. The responses will be sent via webhook (asynchronously).<br>_Currently supported platforms: Whatsapp, Telegram, Messenger, Gbm, Webchat, Googlechat, Instagram_chat, Workplace, MS Teams._",
        "operationId" : "generate-response",
        "requestBody" : {
          "description" : "A chat reference and the user message to generate the response.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GenerateMessagesRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Request accepted, will be processed asynchronously and informed via webhook.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 30 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/send-messages" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Send messages",
        "description" : "Send messages to a chat.<br>_Currently supported platforms: Whatsapp, Telegram, Messenger, Gbm, Webchat, Googlechat, Instagram_chat, Workplace, MS Teams._",
        "operationId" : "send-messages",
        "requestBody" : {
          "description" : "A chat reference and the messages to send to it.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MessagesRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "The message sending Job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 350 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/start-call" : {
      "post" : {
        "tags" : [ "chats actions", "calls" ],
        "summary" : "Start Call",
        "description" : "Creates a call, returning a list of links to join the call.",
        "operationId" : "start-call",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartCallRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StartCallResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or agent not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/trigger-intent" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Trigger intent",
        "description" : "Triggers an intent or WhatsApp template in a chat.",
        "operationId" : "trigger-intent",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerIntentRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chats-actions/batch/trigger-intent" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Trigger intent batch",
        "description" : "Trigger intent in many (up to 500) chats. Use this endpoint to send WhatsApp templates.",
        "operationId" : "batch-trigger-intent",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerIntentBatchRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "An array of either a response id to track intent execution or an error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TriggerIntentBatchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Request count is greater than 500.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 60 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/commerce/checkout-cart" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Commerce/Checkout Cart",
        "description" : "Checkout the current active cart for the specified contact.<br>If a Cart was found, this operation will close it, calculate the totals, and return its details.<br>If a Cart is not found for the user, this operation will return 404 NOT FOUND.<br>_Currently supported platforms: Whatsapp._",
        "operationId" : "checkout-cart",
        "requestBody" : {
          "description" : "A chat reference with an active cart in its state. ",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CartRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A closed cart",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "There is no active cart for the chat reference",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 60 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/commerce/send-products-message" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Commerce/Send product messages",
        "description" : "Send products to a given number.<br>If a cart is currently active/open, any products selected by the user will be appended. <br>_Currently supported platforms: Whatsapp._",
        "operationId" : "send-products",
        "requestBody" : {
          "description" : "A chat reference and the messages to send to it.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "The message sending Job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 60 requests per second allowed."
          }
        }
      }
    },
    "/chats-actions/send-products" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Send products (Deprecated)",
        "description" : "Will be removed on 31/07/2024. Change your API calls to use /chats-actions/commerce/send-products.<br>Send products to a given number.<br>_Currently supported platforms: Whatsapp._",
        "operationId" : "send-products_1",
        "requestBody" : {
          "description" : "A chat reference and the messages to send to it.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "The message sending Job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookNotificationIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Chat reference or message body problem.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 60 requests per second allowed."
          }
        },
        "deprecated" : true
      }
    },
    "/chats-actions/send-reaction" : {
      "post" : {
        "tags" : [ "chats actions" ],
        "summary" : "Create reaction",
        "operationId" : "create-reaction",
        "requestBody" : {
          "description" : "The reaction to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateReactionRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Create reaction request was accepted. It will be processed asynchronously"
          },
          "400" : {
            "description" : "Invalid reaction body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "delete" : {
        "tags" : [ "chats actions" ],
        "summary" : "Delete reaction",
        "operationId" : "delete-reaction",
        "requestBody" : {
          "description" : "The reaction to delete.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteReactionRequest"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Delete reaction request was accepted. It will be processed asynchronously"
          },
          "400" : {
            "description" : "Invalid reaction body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/constants/{id}" : {
      "get" : {
        "tags" : [ "bot config" ],
        "summary" : "Get constant",
        "description" : "Get the constant.",
        "operationId" : "get-constant-value-by-id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Constant id on botmaker. You can check them on [constants page](https://go.botmaker.com/#/variables).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Shows constant data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConstantResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Constant not found."
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      },
      "patch" : {
        "tags" : [ "bot config" ],
        "summary" : "Update constant",
        "description" : "Update constant value.",
        "operationId" : "update-constant-by-id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Constant id on botmaker. You can check them on [constants page](https://go.botmaker.com/#/variables).",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Constant value to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConstantRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Constant correctly updated."
          },
          "400" : {
            "description" : "Invalid constant body.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Constant not found."
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/constants" : {
      "get" : {
        "tags" : [ "bot config" ],
        "summary" : "List constants",
        "description" : "List all constants of this bot.",
        "operationId" : "list-constants",
        "responses" : {
          "200" : {
            "description" : "A list of bot constants.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConstantResponseList"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/dashboards/agent-performance" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "List Agents performance",
        "description" : "Retrieve Agents Performance (as in <a href=\"https://go.botmaker.com/#/dashboards\">Agent Performance page</a>).\nBy default, it retrieves today metrics.You can filter by:\n- Specific range of time\n- Specific group\n- Specific queue\n- Specific agent\n- Specific role\n**This endpoint will increase your BI data sources costs, so use it with care (save the response to avoid retrieving the same period every time).**",
        "operationId" : "agent-performance",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Min datetime. It not sent, it will default to the last hour.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-01-01T00:00:00.000Z"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Max datetime. Requires \"from\"",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2022-01-05T12:30:42.000Z"
        }, {
          "name" : "groups",
          "in" : "query",
          "description" : "A list of groups to filter with.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : [ "ABC123DEF456GHI789JK", "ABC123DEF456GHI789JK" ]
        }, {
          "name" : "operatorsIds",
          "in" : "query",
          "description" : "A list of operators id to filter with.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : [ "ABC123DEF456GHI789JK", "ABC123DEF456GHI789JK" ]
        }, {
          "name" : "rolesIds",
          "in" : "query",
          "description" : "A list of roles to filter with.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "queues",
          "in" : "query",
          "description" : "A list of queues to filter with.",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "includeSubgroups",
          "in" : "query",
          "description" : "Include Subgroups.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of metrics, sorted by session creation time. Each response carries 5000 metrics max; if there are more metrics, the next page *url* will be returned in `nextPage`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DashboardAgentPerformancePage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/dashboards/agent-metrics" : {
      "get" : {
        "tags" : [ "dashboards" ],
        "summary" : "List Agents metrics",
        "description" : "List agents metrics by conversation (as in <a href=\"https://go.botmaker.com/#/dashboards\">Agent Metrics page</a>).\nBy default, it retrieves today metrics.You can filter by:\n- Specific range of time\n- List of Channel IDs\n- List of Agent IDs\n- List of Queues\n- Agent Online Status\n- Session Status (open, closed, both)\n**This endpoint will increase your BI data sources costs, so use it with care (save the response to avoid retrieving the same period every time).**",
        "operationId" : "agents-metrics",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Min datetime. It not sent, it will default to the last hour.",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-01-01T00:00:00.000Z"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Max datetime. Requires \"from\"",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2022-01-05T12:30:42.000Z"
        }, {
          "name" : "channel-ids",
          "in" : "query",
          "description" : "Required to filter metrics by channel id.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "examples" : {
            "Channel id" : {
              "description" : "Channel id",
              "value" : "botproject-whatsapp-5491147038***"
            },
            "WhatsApp Line" : {
              "description" : "WhatsApp Line",
              "value" : "5491147038***"
            },
            "Recipient id" : {
              "description" : "Recipient id",
              "value" : "5125186904100***"
            }
          }
        }, {
          "name" : "agent-ids",
          "in" : "query",
          "description" : "A list of agents id to filter with.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : [ "ABC123DEF456GHI789JK", "ABC123DEF456GHI789JK" ]
        }, {
          "name" : "queues",
          "in" : "query",
          "description" : "A list of queues to filter with.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : [ "ABC123DEF456GHI789JK", "ABC123DEF456GHI789JK" ]
        }, {
          "name" : "online-status",
          "in" : "query",
          "description" : "The operator online status to filter with",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Online" : {
              "description" : "Online",
              "value" : "online"
            },
            "Offline" : {
              "description" : "Offline",
              "value" : "offline"
            },
            "All" : {
              "description" : "All",
              "value" : "all"
            }
          }
        }, {
          "name" : "session-status",
          "in" : "query",
          "description" : "Filter metrics by session status",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Open" : {
              "description" : "Open",
              "value" : "open"
            },
            "Closed" : {
              "description" : "Closed",
              "value" : "closed"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A page of metrics, sorted by session creation time. Each response carries 5000 metrics max; if there are more metrics, the next page *url* will be returned in `nextPage`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DashboardMetricsPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/entities/{entityName}" : {
      "get" : {
        "tags" : [ "entities" ],
        "summary" : "Get entity",
        "description" : "Gets entity by name",
        "operationId" : "get-entity",
        "parameters" : [ {
          "name" : "entityName",
          "in" : "path",
          "description" : "id or name of the entity.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The entity."
          },
          "404" : {
            "description" : "Entity not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "post" : {
        "tags" : [ "entities" ],
        "summary" : "Create/Update entity",
        "description" : "Creates a new entity or updates an entity",
        "operationId" : "create-entity",
        "parameters" : [ {
          "name" : "entityName",
          "in" : "path",
          "description" : "Entity name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The entity request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EntityResponse"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Entity created."
          },
          "400" : {
            "description" : "Invalid entity data."
          },
          "404" : {
            "description" : "Entity not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      },
      "delete" : {
        "tags" : [ "entities" ],
        "summary" : "Delete entity",
        "description" : "Deletes an entity by name.",
        "operationId" : "delete-entity",
        "parameters" : [ {
          "name" : "entityName",
          "in" : "path",
          "description" : "Entity name",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Entity deleted."
          },
          "404" : {
            "description" : "Entity not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        },
        "security" : [ {
          "access-token" : [ ]
        } ]
      }
    },
    "/intents/{idOrName}" : {
      "get" : {
        "tags" : [ "intents" ],
        "summary" : "Get intent",
        "operationId" : "get-intent",
        "parameters" : [ {
          "name" : "idOrName",
          "in" : "path",
          "description" : "Id or name of the intent.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The intent with id or name.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntentResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Intent not found."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/intents" : {
      "get" : {
        "tags" : [ "intents" ],
        "summary" : "List intents",
        "description" : "List all intents. This helps to find out intents ids or names needed as param in `/chat-actions/trigger-intent`.",
        "operationId" : "list-intents",
        "responses" : {
          "200" : {
            "description" : "A page of 200 intents. You should keep calling the `nextPageURL` until it comes `null`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntentsPage"
                }
              }
            }
          },
          "429" : {
            "description" : "Only one request per second allowed."
          }
        }
      }
    },
    "/private-media/temp-access-link" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Get temporary access link for private file",
        "description" : "Generates a temporal link to download a private file. The link will expire in `expire-minutes` minutes.\n(Use this endpoint only if your project has restricted storage access enabled)",
        "operationId" : "private-file-temp-access-link",
        "parameters" : [ {
          "name" : "file-url",
          "in" : "query",
          "description" : "File private url",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://storage.googleapis.com/storage.botmaker.com/public/res/<BusinessId>/users/rand/path/a1b2/3816649bf102f0243d243099b0d32bec.jpeg"
        }, {
          "name" : "expire-minutes",
          "in" : "query",
          "description" : "The access link duration in minutes. Default is 3.",
          "schema" : {
            "maximum" : 15,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The temporary access link (with expire token)"
          },
          "400" : {
            "description" : "No file-url sent."
          },
          "429" : {
            "description" : "Only 5 requests per second allowed."
          }
        }
      }
    },
    "/messages" : {
      "get" : {
        "tags" : [ "chats" ],
        "summary" : "List messages",
        "description" : "With this endpoint you can:\n- Get the **entire message history** from all chats.\n- Get the message history for **one particular chat**. To select a chat, use either `chatId` alone or both `channelId` and `contactId`.<br>To filter by datetime, use `from` and `to`.<br>**This endpoint will increase your BI data sources costs, so use it with care (save the response to avoid retrieving the same period every time).**",
        "operationId" : "list-messages",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "Min message datetime. Defaults to:\n- **1 day ago** for long-term searches.\n- **3 days ago** for non long-term searches without chat or customer filters (maximum range for non long-term searches).\n- **90 days ago** for non long-term searches with chat or customer filters (maximum range for non long-term searches).",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-01-01T00:00:00Z"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Max message datetime. Defaults to:\n- **one hour ago** for long-term searches.\n- **now** for non long-term searches",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2022-01-05T12:30:42Z"
        }, {
          "name" : "channel-id",
          "in" : "query",
          "description" : "Required to fetch a chat's messages by contact id. You must also provide `contact-id` param.",
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "Channel id" : {
              "description" : "Channel id",
              "value" : "botproject-whatsapp-5491147038***"
            },
            "WhatsApp Line" : {
              "description" : "WhatsApp Line",
              "value" : "5491147038***"
            },
            "Recipient id" : {
              "description" : "Recipient id",
              "value" : "5125186904100***"
            }
          }
        }, {
          "name" : "contact-id",
          "in" : "query",
          "description" : "The chat id in the chat platform. You must also provide `channel-id` param.",
[...]
